.navbar {
  background-color: #001a4d;
  color: white;
}
.navbar-default .navbar-brand {
  color:white;
}
.navbar-default .navbar-nav>li>a {
  color:white;
}
.navbar-right {
  padding-top: 15px;
}
.nav>li>a {
  color:white;
}

.transactions-table th, td{
  padding: 8px;  
}

.center {
 text-align: center;
}

.income-sum {
  background-color: green;
}

.expenses-sum {
  background-color: red;
}

.balance {
  background-color: #001a4d;
}
.expenses-sum, .income-sum, .balance {
  padding: 15px 15px;
  color: white;
  display: inline-block;
}