<div class="row">
    <div class="col-xs-4 center income-sum">
      Income: <%= @income_sum %>
    </div>
    <div class="col-xs-4 center expenses-sum">
      <p>Expenses: <%= @expenses_sum %></p>
    </div>
    <div class="col-xs-4 center balance">
      <p>Balance: <%= @income_sum - @expenses_sum %></p>
    </div>
</div>
<table class="transactions-table">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Amount
      </th>
      <th>
        Category
      </th>
      <th>
        Date
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @transactions %>
  </tbody>
</table>